body {
    display: flex ;
    height: 100vh ; /* pour prendre tout la place de la fenetre */
    flex-direction: column; /* pour mettre les element en colum */
    justify-content: space-between; /* repartit l'espace entre les element le premier en haut le dernier en bas */
}


/** variable des couleurs **/

:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#8f8f8f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}


/** utilisation des couleur **/

.couleur_font {
    background-color: var(--fond-principal);
}

.couleur_contenu {
    background-color: var(--font-contenu);
}

.couleur_contours {
    background-color: var(--fond-contours);
}

.couleur_titre {
    color: var(--texte-titre);
}

.couleur_courant {
    color: var(--texte-courant);
}

.couleur_lien {
    color: var(--texte-lien);
}

.couleur_survol {
    color: var(--objet-survol);
}

.couleur_permanent {
    color: var(--objet-permanent);
}

.couleur_clic {
    color: var(--objet-clic);
}


/** emplacement texte et objet **/

.emplacement_centre {
    text-align: center;
}

.emplacement_start {
    text-align: start;
}

.emplacement_end {
    text-align: end;
}

.grille_total {
    color: #0F0F0F;
}

.grille_touche {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 20px;
}

.grille_option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}


/** effet visuel **/

.bordure_logo {
    border-radius: 50px;
}

.bordure_touche {
    border-radius: 25px;
}

.image {
    max-width: 75px;
    max-height: 75px;
}

.bannier_fin {
    padding: 25px;
    margin: 40px 400px ;
    border-radius: 50px 50px 50px 50px;
}